.cartWrapper
    display: flex
    flex-direction: column
    gap: var(--spacing-medium)
    padding-top: 100px
    padding-bottom: 100px 

    .cartTitle
        padding-left: 100px 

    .mainContent
        display: flex
        flex-direction: column
        align-items: center
        gap: 70px

        .itemSelection
            display: flex
            flex-direction: column
            gap: 50px
            align-items: center

        .total
            display: flex
            flex-direction: column
            gap: 10px

            button
                background-color: var(--button-background)
                border: none
                border-radius: var(--button-border-radius)
                color: var(--color-white)
                width: var(--button-width)
                height: var(--button-height)
                cursor: pointer
